<h2>Pacotes para as cidades:</h2>
<ul class="packages">
    <li *ngFor="let pack of package">
        <button type="button" (click)="onSelect(pack)">
            <span class="city">{{pack.city}}</span>
        </button>
    </li>
</ul>
<app-package-details [selectedPackage]="selectedPackage"></app-package-details>
<app-package-edit-form (packageEdited)="onPackageEdited($event)" *ngIf=" selectedPackage" [package]="selectedPackage"></app-package-edit-form>
<app-package-delete-form (packageDeleted)="onPackageDeleted($event)" *ngIf="
selectedPackage" [package]="selectedPackage"></app-package-delete-form>
<app-package-form (packageCreated)="onPackageCreated($event)"></app-package-form>

